<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.cchili.springcloud.mapper.PaymentMapper">
    <resultMap id="BaseResultMap" type="xyz.cchili.springcloud.cloudapicommons.pojo.Payment">
        <!--@mbg.generated generated on Mon Jun 08 11:14:37 CST 2020.-->
        <!--@Table payment-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="serial" jdbcType="VARCHAR" property="serial"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Mon Jun 08 11:14:37 CST 2020.-->
        id, serial
    </sql>
</mapper>
